section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;

  .card {
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
