<div class="flex h-full">
  <form class="flex flex-col gap-5 w-5/12 h-full">
    <div class="bg-stone-800 rounded-xl h-60 w-60 self-center">
      <div class="bg-primary m-auto"></div>
    </div>
    <!-- <section class="flex flex-col gap-5"> -->
    <label for="title"
           class="flex flex-col gap-1">
      <span class="pl-2">Name</span>
      <input type="text"
             name="title"
             class="pt-2 pb-2 pr-4 pl-4 rounded-xl text-secondary bg-stone-800 focus:outline-none" />
    </label>
    <label for="description"
           class="flex flex-col gap-1 ">
      <span class="pl-2">Description</span>
      <textarea name="description"
                class="pt-2 pb-2 pr-4 pl-4 rounded-xl text-secondary bg-stone-800 focus:outline-none"></textarea>
    </label>
    <!-- </section> -->
  </form>
</div>
